.positive{
    color: green;
}

.negative{
    color: red;
}

div#metadata {
    text-align: right;
    margin-right: 15px;
}

p {
    font-size: 18px;
}

dd {
    font-size: 18px;
}

h3#metadataHeader {
    color: white;
}