.highSentimentScore{
    color: green;
}

.midSentimentScore{
    color: grey;
}

.lowSentimentScore{
    color: red;
}

.fontSizeSix{
    font-size: 70px;
}

.fontSizeFive{
    font-size: 55px;
}

.fontSizeFour{
    font-size: 50px;
}

.fontSizeThree{
    font-size: 40px;
}

.fontSizeTwo{
    font-size: 30px;
}

.fontSizeOne{
    font-size: 20px;
}

dl {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
}

dt {
  margin-left: 15px;
}

dt:hover {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

h3#topics{
    text-align: center;
}